body{
    margin: 0;
    padding: 0;
    background: #fff;
}

.container{
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper{
    width:calc(200px + 15px) ;
    height: calc(200px + 15px);
    background: green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper__clock{    
    width:200px;
    height: 200px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.clock__center{
    width: 25px;
    height: 25px;
    background: green;
    border-radius: 50%;
    z-index: 1;
}

.wrapper__clock::before, .wrapper__clock::after{
    content: '';
    position: absolute;
    top:18px;
    width: 10px;
    background: green;
    border-radius: 8px;
    transform-origin: center calc(100% - 10px);
    animation: time infinite linear;
}

.wrapper__clock::before{
    height: 90px;
    animation-duration: 1s;
}

.wrapper__clock::after{
    top: 50px;
    height: 60px;
    animation-duration: 10s;
}

@keyframes time{
    to{
        transform: rotate(360deg);
    }
}